~
build/
builds/
BuildLogs/
[Bb]in
[Dd]ebug*/
Deployment/**
obj/
[Rr]elease*/
_ReSharper*/
zip/
unzip/**
[Tt]est[Rr]esult
[Bb]uild[Ll]og.*
*.swp
*.userprefs
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*.pidb
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.[Rr]e[Ss]harper
*.[Pp]ublish.xml
*-results.xml
[Aa]pp.config
[Ww]eb.config
log4net.config
*.plugin
*.boo
local-configuration.xml
coremetrics-proxy.js
[Cc]ommon[Aa]ssembly[Ii]nfo.cs
Portals/OneTechnologies.Portals.CreditPortal/[Dd]efault.aspx
NUnit-TestDataOutput.xml
*.log
*.log.*
*.InstallLog
Deployment/
InputOutput/**
InputOutput/
!OneTechnologies.ServiceBus.IntegrationTests/[Aa]pp.config